$spring-green: #6db33f;
$spring-dark-green: #5fa134;
$spring-brown: #34302d;
$spring-grey: #838789;
$spring-light-grey: #f1f1f1;

$body-bg: $spring-light-grey;
$body-color: $spring-brown;
$link-color: $spring-dark-green;
$link-hover-color: $spring-dark-green;

$navbar-light-color: $spring-light-grey;
$navbar-light-active-color: $spring-light-grey;
$navbar-light-hover-color: $spring-light-grey;

.navbar-light {
  .navbar-nav {
    .nav-link {
      &:hover,
      &:focus {
        background-color: $spring-green;
      }
    }
  }
}
